_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
.env
*.csv
convert_bearblog.py
.venv
email-stuff*
_drafts*
/.obsidian
.obsidian/*
posse.py
CLAUDE.md
.obsidian/workspace.json
.obsidian/app.json
